<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="7f7a043895da46dab08ddbaab7a3c132" class="chart-container" style="width:1900px; height:800px;"></div>
    <script>
        var chart_7f7a043895da46dab08ddbaab7a3c132 = echarts.init(
            document.getElementById('7f7a043895da46dab08ddbaab7a3c132'), 'white', {renderer: 'canvas'});
        var option_7f7a043895da46dab08ddbaab7a3c132 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u786e\u8bca\u4eba\u6570",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "United States",
                    "value": 33364941
                },
                {
                    "name": "Spain",
                    "value": 3559222
                },
                {
                    "name": "France",
                    "value": 2405255
                },
                {
                    "name": "Peru",
                    "value": 422183
                },
                {
                    "name": "United Kingdom",
                    "value": 104145
                },
                {
                    "name": "Italy",
                    "value": 97689
                },
                {
                    "name": "Germany",
                    "value": 63929
                },
                {
                    "name": "Iran",
                    "value": 44606
                },
                {
                    "name": "Canada",
                    "value": 44526
                },
                {
                    "name": "Switzerland",
                    "value": 15526
                },
                {
                    "name": "Austria",
                    "value": 14476
                },
                {
                    "name": "Belgium",
                    "value": 11899
                },
                {
                    "name": "Netherlands",
                    "value": 11814
                },
                {
                    "name": "Korea",
                    "value": 9976
                },
                {
                    "name": "Turkey",
                    "value": 9217
                },
                {
                    "name": "Serbia",
                    "value": 8724
                },
                {
                    "name": "Portugal",
                    "value": 6408
                },
                {
                    "name": "Israel",
                    "value": 4347
                },
                {
                    "name": "Norway",
                    "value": 4284
                },
                {
                    "name": "Brazil",
                    "value": 4256
                },
                {
                    "name": "Australia",
                    "value": 4245
                },
                {
                    "name": "Sweden",
                    "value": 3700
                },
                {
                    "name": "Czech Republic",
                    "value": 2817
                },
                {
                    "name": "Denmark",
                    "value": 2724
                },
                {
                    "name": "Malaysia",
                    "value": 2626
                },
                {
                    "name": "Ireland",
                    "value": 2615
                },
                {
                    "name": "Chile",
                    "value": 2449
                },
                {
                    "name": "Luxembourg",
                    "value": 1988
                },
                {
                    "name": "Romania",
                    "value": 1952
                },
                {
                    "name": "Ecuador",
                    "value": 1924
                },
                {
                    "name": "Poland",
                    "value": 1905
                },
                {
                    "name": "Russia",
                    "value": 1836
                },
                {
                    "name": "Japan",
                    "value": 1724
                },
                {
                    "name": "Pakistan",
                    "value": 1625
                },
                {
                    "name": "Philippines",
                    "value": 1546
                },
                {
                    "name": "Thailand",
                    "value": 1524
                },
                {
                    "name": "Saudi Arabia",
                    "value": 1453
                },
                {
                    "name": "Indonesia",
                    "value": 1414
                },
                {
                    "name": "South Africa",
                    "value": 1280
                },
                {
                    "name": "Finland",
                    "value": 1240
                },
                {
                    "name": "Greece",
                    "value": 1156
                },
                {
                    "name": "India",
                    "value": 1071
                },
                {
                    "name": "Iceland",
                    "value": 1020
                },
                {
                    "name": "Mexico",
                    "value": 993
                },
                {
                    "name": "Panama",
                    "value": 989
                },
                {
                    "name": "Dominican Republic",
                    "value": 901
                },
                {
                    "name": "Singapore",
                    "value": 879
                },
                {
                    "name": "Argentina",
                    "value": 820
                },
                {
                    "name": "Croatia",
                    "value": 713
                },
                {
                    "name": "Colombia",
                    "value": 702
                },
                {
                    "name": "Slovenia",
                    "value": 684
                },
                {
                    "name": "Estonia",
                    "value": 645
                },
                {
                    "name": "Qatar",
                    "value": 634
                },
                {
                    "name": "United Arab Emirates",
                    "value": 611
                },
                {
                    "name": "Egypt",
                    "value": 609
                },
                {
                    "name": "New Zealand",
                    "value": 589
                },
                {
                    "name": "Azerbaijan",
                    "value": 584
                },
                {
                    "name": "Iraq",
                    "value": 547
                },
                {
                    "name": "Morocco",
                    "value": 516
                },
                {
                    "name": "Bahrain",
                    "value": 515
                },
                {
                    "name": "Algeria",
                    "value": 511
                },
                {
                    "name": "Armenia",
                    "value": 481
                },
                {
                    "name": "Ukraine",
                    "value": 480
                },
                {
                    "name": "Lithuania",
                    "value": 460
                },
                {
                    "name": "Hungary",
                    "value": 447
                },
                {
                    "name": "Lebanon",
                    "value": 446
                },
                {
                    "name": "Latvia",
                    "value": 347
                },
                {
                    "name": "Slovakia",
                    "value": 336
                },
                {
                    "name": "Andorra",
                    "value": 334
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 324
                },
                {
                    "name": "Bulgaria",
                    "value": 313
                },
                {
                    "name": "Tunisia",
                    "value": 312
                },
                {
                    "name": "Uruguay",
                    "value": 309
                },
                {
                    "name": "Kazakhstan",
                    "value": 302
                },
                {
                    "name": "Costa Rica",
                    "value": 295
                },
                {
                    "name": "Kuwait",
                    "value": 266
                },
                {
                    "name": "Jordan",
                    "value": 259
                },
                {
                    "name": "Moldova",
                    "value": 231
                },
                {
                    "name": "San Marino",
                    "value": 224
                },
                {
                    "name": "Burkina Faso",
                    "value": 222
                },
                {
                    "name": "Cyprus",
                    "value": 214
                },
                {
                    "name": "Albania",
                    "value": 212
                },
                {
                    "name": "Viet Nam",
                    "value": 194
                },
                {
                    "name": "Oman",
                    "value": 179
                },
                {
                    "name": "C\u00f4te d'Ivoire",
                    "value": 165
                },
                {
                    "name": "Senegal",
                    "value": 162
                },
                {
                    "name": "Ghana",
                    "value": 152
                },
                {
                    "name": "Malta",
                    "value": 149
                },
                {
                    "name": "Uzbekistan",
                    "value": 149
                },
                {
                    "name": "Afghanistan",
                    "value": 145
                },
                {
                    "name": "Cameroon",
                    "value": 142
                },
                {
                    "name": "Honduras",
                    "value": 139
                },
                {
                    "name": "Brunei Darussalam",
                    "value": 127
                },
                {
                    "name": "Sri Lanka",
                    "value": 122
                },
                {
                    "name": "Venezuela",
                    "value": 119
                },
                {
                    "name": "Cuba",
                    "value": 119
                },
                {
                    "name": "Nigeria",
                    "value": 111
                },
                {
                    "name": "Mauritius",
                    "value": 107
                },
                {
                    "name": "Palestinian Territory",
                    "value": 106
                },
                {
                    "name": "Cambodia",
                    "value": 103
                },
                {
                    "name": "Georgia",
                    "value": 98
                },
                {
                    "name": "Belarus",
                    "value": 94
                },
                {
                    "name": "Montenegro",
                    "value": 85
                },
                {
                    "name": "Kyrgyzstan",
                    "value": 84
                },
                {
                    "name": "Bolivia",
                    "value": 81
                },
                {
                    "name": "Congo",
                    "value": 19
                },
                {
                    "name": "Rwanda",
                    "value": 70
                },
                {
                    "name": "Paraguay",
                    "value": 64
                },
                {
                    "name": "Kenya",
                    "value": 50
                },
                {
                    "name": "Monaco",
                    "value": 43
                },
                {
                    "name": "Madagascar",
                    "value": 43
                },
                {
                    "name": "Zambia",
                    "value": 35
                },
                {
                    "name": "Guatemala",
                    "value": 34
                },
                {
                    "name": "Uganda",
                    "value": 33
                },
                {
                    "name": "Togo",
                    "value": 30
                },
                {
                    "name": "Guyana",
                    "value": 28
                },
                {
                    "name": "Djibouti",
                    "value": 25
                },
                {
                    "name": "Mali",
                    "value": 25
                },
                {
                    "name": "Ethiopia",
                    "value": 23
                },
                {
                    "name": "Myanmar",
                    "value": 20
                },
                {
                    "name": "Tanzania,United Republic of",
                    "value": 19
                },
                {
                    "name": "Niger",
                    "value": 18
                },
                {
                    "name": "Maldives",
                    "value": 17
                },
                {
                    "name": "Guinea",
                    "value": 16
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 14
                },
                {
                    "name": "Eritrea",
                    "value": 12
                },
                {
                    "name": "Mongolia",
                    "value": 12
                },
                {
                    "name": "Namibia",
                    "value": 11
                },
                {
                    "name": "Syrian Arab Republic",
                    "value": 10
                },
                {
                    "name": "Swaziland",
                    "value": 9
                },
                {
                    "name": "Seychelles",
                    "value": 8
                },
                {
                    "name": "Lao People's Democratic Republic",
                    "value": 8
                },
                {
                    "name": "Haiti",
                    "value": 8
                },
                {
                    "name": "Mozambique",
                    "value": 8
                },
                {
                    "name": "Suriname",
                    "value": 8
                },
                {
                    "name": "Antigua and Barbuda",
                    "value": 7
                },
                {
                    "name": "Zimbabwe",
                    "value": 7
                },
                {
                    "name": "Angola",
                    "value": 7
                },
                {
                    "name": "Gabon",
                    "value": 7
                },
                {
                    "name": "Sudan",
                    "value": 6
                },
                {
                    "name": "Cape Verde",
                    "value": 6
                },
                {
                    "name": "Benin",
                    "value": 6
                },
                {
                    "name": "Holy See",
                    "value": 6
                },
                {
                    "name": "Chad",
                    "value": 5
                },
                {
                    "name": "Nepal",
                    "value": 5
                },
                {
                    "name": "Bhutan",
                    "value": 4
                },
                {
                    "name": "Nicaragua",
                    "value": 4
                },
                {
                    "name": "Gambia (The)",
                    "value": 4
                },
                {
                    "name": "Liberia",
                    "value": 3
                },
                {
                    "name": "Somalia",
                    "value": 3
                },
                {
                    "name": "Guinea-Bissau",
                    "value": 2
                },
                {
                    "name": "Belize",
                    "value": 2
                },
                {
                    "name": "Timor-Leste",
                    "value": 1
                },
                {
                    "name": "Papua New Guinea",
                    "value": 1
                },
                {
                    "name": "China",
                    "value": 103731
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "scaleLimit": {
                "min": 1,
                "max": 2
            },
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "layoutSize": "100%",
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u786e\u8bca\u4eba\u6570"
            ],
            "selected": {
                "\u786e\u8bca\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": {
        "text": "\u5168\u7403\u65b0\u51a0\u75ab\u60c5\u52a8\u6001",
        "subtext": "\u65e5\u671f 2021-05-07"
    },
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 10000000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "min": 500000
            },
            {
                "min": 200000,
                "max": 499999
            },
            {
                "min": 100000,
                "max": 199999
            },
            {
                "min": 50000,
                "max": 99999
            },
            {
                "min": 10000,
                "max": 49999
            },
            {
                "max": 9999
            }
        ]
    }
};
        chart_7f7a043895da46dab08ddbaab7a3c132.setOption(option_7f7a043895da46dab08ddbaab7a3c132);
    </script>
</body>
</html>
